body {
      font-family: Arial, sans-serif;
      background-color: #fef6ff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .calculator {
      background: rgb(51, 18, 214) lightblue;
      padding: 50px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 300px;
      text-align: center;
    }
    input {
      width: 90%;
      padding: 5px;
      margin: 8px 0;
      border: 5px solid #1c0c0c;
      border-radius: 5px;
      font-size: 16px;
    }
    button {
      background-color: #0a46f8;
      color: rgb(1, 160, 203);
      padding: 10px 15px;
      border: 5px solid black;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
    }
    button:hover {
      background-color: #0056b3;
    }
    h2 {
      color: #7fb324;
    }